ATMAPIProject/ATMAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/ATMAPI" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/ATMAPI">
<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/ATMAPI">
<element name="ProcessTransactions">
<complexType>
<sequence/>
</complexType>
</element>
<element name="ProcessTransactions_Result">
<complexType>
<sequence>
<element minOccurs="1" maxOccurs="1" name="return_value" type="int"/>
</sequence>
</complexType>
</element>
<element name="GetAccountBalance">
<complexType>
<sequence>
<element minOccurs="1" maxOccurs="1" name="account" type="string"/>
</sequence>
</complexType>
</element>
<element name="GetAccountBalance_Result">
<complexType>
<sequence>
<element minOccurs="1" maxOccurs="1" name="return_value" type="decimal"/>
</sequence>
</complexType>
</element>
</schema>
</types>
<message name="ProcessTransactions">
<part name="parameters" element="tns:ProcessTransactions"/>
</message>
<message name="ProcessTransactions_Result">
<part name="parameters" element="tns:ProcessTransactions_Result"/>
</message>
<message name="GetAccountBalance">
<part name="parameters" element="tns:GetAccountBalance"/>
</message>
<message name="GetAccountBalance_Result">
<part name="parameters" element="tns:GetAccountBalance_Result"/>
</message>
<portType name="ATMAPI_Port">
<operation name="ProcessTransactions">
<input name="ProcessTransactions" message="tns:ProcessTransactions"/>
<output name="ProcessTransactions_Result" message="tns:ProcessTransactions_Result"/>
</operation>
<operation name="GetAccountBalance">
<input name="GetAccountBalance" message="tns:GetAccountBalance"/>
<output name="GetAccountBalance_Result" message="tns:GetAccountBalance_Result"/>
</operation>
</portType>
<binding name="ATMAPI_Binding" type="tns:ATMAPI_Port">
<binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="ProcessTransactions">
<operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="urn:microsoft-dynamics-schemas/codeunit/ATMAPI:ProcessTransactions" style="document"/>
<input name="ProcessTransactions">
<body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
</input>
<output name="ProcessTransactions_Result">
<body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
</output>
</operation>
<operation name="GetAccountBalance">
<operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="urn:microsoft-dynamics-schemas/codeunit/ATMAPI:GetAccountBalance" style="document"/>
<input name="GetAccountBalance">
<body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
</input>
<output name="GetAccountBalance_Result">
<body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
</output>
</operation>
</binding>
<service name="ATMAPI">
<port name="ATMAPI_Port" binding="tns:ATMAPI_Binding">
<address xmlns="http://schemas.xmlsoap.org/wsdl/soap/" location="http://scudo:7533/aml2018/WS/CRONUS%20International%20Ltd./Codeunit/ATMAPI"/>
</port>
</service>
</definitions>